<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'product')}">
<!--/*@thymesVar id="product" type="pl.coderslab.nutrition_planner.dto.ProductDto"*/-->
<body>

  <h2>Find Products</h2>

  <form th:object="${productDto}" th:action="@{/product}" method="get"
    class="form-horizontal" id="search-product-form">
    <div class="form-group">
      <div class="control-group" id="lastNameGroup">
        <label class="col-sm-2 control-label">Product name</label>
        <div class="col-sm-10">
          <input class="form-control" th:field="*{name}" size="30"
            maxlength="80" /> <span class="help-inline">
          <div th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Find
          Product</button>
      </div>
    </div>

  </form>

  <br />
  <a href="/product/new" class="btn btn-default">Add new product</a>
  <div><a href="/product/all" class="btn btn-default">List of products</a></div>
</body>
</html>
