<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Products</title>
</head>
<body>

<h2>Products</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Kcal</th>
        <th>Proteins</th>
        <th>Fats</th>
        <th>Carbs</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td>
            <a th:href="@{/product/__${product.id}__}" th:text="${product.name}"></a>
        </td>
        <td th:text="${product.kcal}"></td>
        <td th:text="${product.proteins}"></td>
        <td th:text="${product.fats}"></td>
        <td th:text="${product.carbs}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>